/*
FILE NAME: index.css
WRITTEN BY: Maren Collier Ytterbø
WHEN: October 2017
PURPOSE: Stylesheet for index-page
*/

body {
  background: #3F7D78;
}

h1{
  text-align: center;
  font-family: Pacifico, Bookman, cursive;
}
